@media (min-width:375px){

    .portrait {
        width: 500px;
        height: 500px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:375px) {

    .wd {
        margin: auto;
        display: block;
    }
}

.bg {
    background: url("https://scitechdaily.com/images/Quantum-Computer-Code-Concept.gif");
    background-size: cover;
}

#blue {
    text-shadow: 2px 2px blue;
}

.h4, h4 {
    font-size: 1.96rem;
}